<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <!-- La etiqueta head contiene metadatos y enlaces a recursos externos -->
        <title>TechShop</title> <!-- Título de la página -->
    </head>
    <body>
        <!-- La etiqueta body contiene el contenido principal de la página -->
        
        <header th:replace="~{layout/plantilla :: header}"/>
        <!-- Encabezado de la página -->
        
        <section th:replace="~{categoria/fragmentos :: botonesAgregar}"/>
        <!-- Sección para botones de agregar -->
        
        <section th:replace="~{categoria/fragmentos :: agregarCategoria}"/> 
        <!-- Sección para agregar categoría -->
        
        <section th:replace="~{categoria/fragmentos :: listadoCategorias}"/>
        <!-- Sección para listar categorías -->
        
        <footer th:replace="~{layout/plantilla :: footer}"/>      
        <!-- Pie de página -->
      
    </body>
</html>
