<script id="footer-template" type="text/x-handlebars-template">
    <div class="footer">
    <nav>
    <ul>
    <li>
    <img
    src="../Imagenes/LogoSinFondo.png"
    alt="Logo"
    width="20"
    />
    </li>
    <li>Información sobre la página</li>
    </ul>
    </nav>
    <nav>
    <ul>
    <li>
    <a
    href="https://maps.app.goo.gl/RfThuX5ggXUVrEb1A"
    target="_blank"
    >Ubicación</a
    >
    </li>
    <li><a href="Registro de usuario.html">Registro</a></li>
    <li>
    <a href="mailto:gasgonmatiiica24@gamil.com.cr"
    >Correo de contacto</a
    >
    </li>
    <li>
    <a href="tel:+50671095870"
    >Número de contacto: (+506) 7109 5870</a
    >
    </li>
    </ul>
    </nav>
    <nav>
    <ul>
    <li><a href="Conozcanos.html">Conózcanos</a></li>
    <li><a href="Politica de privacidad.html"
    >Políticas de privacidad</a
    ></li>
    <li><a href="Mapa de sitio.html">Mapa de sitio</a></li>
    </ul>
    </nav>
    </div>
</script>