<script id="villa-template" type="text/x-handlebars-template">
    <header class="navbar">
    <nav>
    <ul>
    {{#each links}}
    <li><a href="{{href}}">{{title}}</a></li>
    {{/each}}
    </ul>
    </nav>
    <nav>
    <ul>
    <li>
    <a href="#"
    ><img src="../Imagenes/icono_busqueda.png" alt="Búsqueda" width="20"
    /></a>
    </li>
    <li>
    <a href="Carrito.html"
    ><img src="../Imagenes/icono_carrito.png" alt="Carrito" width="20"
    /></a>
    </li>
    </ul>
    </nav>
    </header>
</script>