<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link href="static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/css/styles.css" type="text/css"/>
    <link rel="stylesheet" href="../../styles/css/styles.css" type="text/css">
    <link rel="stylesheet" href="../../static/Contacto.html" type="text/css"/>
    <link rel="stylesheet" href="../../styles/css/styles.crud.css" type="text/css">




</head>

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a href="#" class="navbar-brand">Librería</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2"><a class="nav-link" href="inicio.html">Inicio</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="libros.html">Libros</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="mi_libreria.html">Mi Librería</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="favoritos.html">Favoritos</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="contacto.html">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <footer class="footer">
        <div class="container">
            <div class="col">
                <p class="lead text-center">
                    &COPY Librería 2024
                </p>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS y jQuery (opcional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
