<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" <!-- Espacio de nombres para Thymeleaf -->
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"> <!-- Espacio de nombres para Thymeleaf con Spring Security -->
      <head th:replace="~{layout/plantilla :: head}"> <!-- Reemplaza la sección head con el contenido de la plantilla layout/plantilla -->
        <title>Villa Gastronomica</title> <!-- Título de la página -->
    </head>
    <body>
        <!-- Fragmento para botones de agregar -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container" sec:authorize="hasRole('ROLE_USER')"> <!-- Contenedor con autorización de usuario -->
                <div class="row">
                    <div class="col-md-3 text-center"> <!-- Columna centrada -->
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" <!-- Clases para estilo de botón -->
                            data-bs-toggle="modal" <!-- Activa una ventana modal -->
                            data-bs-target="#agregarCategoria"> <!-- Especifica el destino de la ventana modal -->
                            <i class="fas"></i> [[#{contactenos.agregar}]] <!-- Texto traducible -->
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>

    <!-- Ventana modal para agregar categoría -->
    <section th:fragment="agregarCategoria">
        <div id="agregarCategoria" 
             class="modal fade" <!-- Clases para estilo de ventana modal -->
             tabindex="-1" 
             aria-labelledby="exampleModalLabel" 
             aria-hidden="true">
             <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title">[[#{contactenos.agregar}]]</h5> <!-- Título traducible -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!-- Botón para cerrar la ventana modal -->
                    </div> 
                    <!-- Formulario para agregar categoría -->
                    <form th:action="@{/contactenos/guardar}" th:object="${contactenos}"
                          method="POST" class="was-validated" enctype="multipart/form-data">
                        <div class="modal-body">
                            <!-- Campos del formulario para agregar categoría -->
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Guardar</button> <!-- Botón para enviar formulario -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</html>
