body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.navbar {
    background-color: #4cb6ac;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.navbar ul li {
    margin-right: 20px;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.big-textbox {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #4cb6ac;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
    height: 300px;
}

.footer {
    background-color: #cddc39;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.footer ul li {
    margin-right: 20px;
}
.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: #ffa827;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.bottom-button {
    margin-top: 50px;
}

.btn-associate {
    background-color: #ffeb3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
