<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mapa del Sitio</title>
        <link rel="stylesheet" href="../styles/css/Inicio.css" type="text/css"/>
        <link rel="stylesheet" href="../styles/css/Política-de-privacidad.css" type="text/css"/>
        <link rel="stylesheet" href="../styles/css/Restaurantes.css" type="text/css">
        <link rel="stylesheet" href="../styles/css/Barra.css" type="text/css">
        <link rel="stylesheet" href="../styles/css/Contactanos.css" type="text/css">
        <link rel="stylesheet" href="../styles/css/Seleccion-de-restaurante.css" type="text/css"/>
        <link rel="stylesheet" href="../styles/css/Conozcanos.css" type="text/css">
        <link rel="stylesheet" href="../styles/css/Carrito.css" type="text/css"/>
        <link rel="stylesheet" href="Intento-de-implementar-confirmacion-de-pedido.css" type="text/css">
    </head>
    <body>
        <!-- Barra superior -->
        <header class="navbar">
            <nav>
                <ul>
                    <li><a href="Inicio.html">Inicio</a> | </li>
                    <li><a href="Conozcanos.html">Conózcanos</a> | </li>
                    <li><a href="Restaurantes.html">Restaurantes</a> | </li>
                    <li><a href="Contactenos.html">Contáctenos</a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="../Imagenes/icono_busqueda.png" alt="Búsqueda" width="20"></a></li>
                    <li><a href="Carrito.html"><img src="../Imagenes/icono_carrito.png" alt="Carrito" width="20"></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <!-- Contenido Principal -->
            <section class="seccion-ofertas">
                <h2>Ofertas</h2>
                <article class="oferta">
                    <h3>DomJulioCoffe</h3>
                    <img src="../Imagenes/SandwichdeManodePiedra.jpg.jpg" alt="Sándwich de Mano de Piedra" width="200">
                    <p>Precio: 3000</p>
                    <p>Condiciones aplicables: Unidades limitadas, por temporada de inauguración</p>
                    <button class="btn-anadir">Añadir producto</button>
                </article>
                <article class="oferta">
                    <h3>Oferta 2</h3>
                    <img src="../Imagenes/Hamburguesa-Especial.jpg" alt="Hamburguesa Especial" width="200">
                    <p>Precio: 4500</p>
                    <p>Condiciones aplicables: Unidades limitadas, por temporada de inauguración</p>
                    <button class="btn-anadir">Añadir producto</button>
                </article>
                <article class="oferta">
                    <h3>Mexican</h3>
                    <img src="../Imagenes/Tacos-al-Pastor.jpg" alt="Tacos al Pastor" width="200">
                    <p>Precio: 4000</p>
                    <p>Condiciones aplicables: Unidades limitadas, por temporada de inauguración</p>
                    <button class="btn-anadir">Añadir producto</button>
                </article>
                <article class="oferta">
                    <h3>Punchis Italian</h3>
                    <img src="../Imagenes/Pizza-Prosciutto.jpg" alt="Pizza Prosciutto" width="200">
                    <p>Precio: 6000</p>
                    <p>Condiciones aplicables: Unidades limitadas, por temporada de inauguración</p>
                    <button class="btn-anadir">Añadir producto</button>
                </article>
            </section>

            <section class="seccion-condiciones">
                <h2>Condiciones Aplicables</h2>
                <p>Período de validez limitado: El descuento de inauguración estará disponible solo durante un período específico de tiempo, desde el día de la inauguración hasta un mes después.</p>
            </section>

            <section class="seccion-eventos">
                <h2>Eventos Actuales</h2>
                <p>Estamos emocionados de anunciar el lanzamiento oficial de VillaGastronotiica, un lugar donde la calidad y la excelencia se unen para ofrecerte experiencias únicas. Nuestro evento de inauguración es más que una simple apertura, es el comienzo de una nueva era de servicio y compromiso con nuestros clientes.</p>
            </section>

            <section class="seccion-temporadas">
                <h2>Temporadas Especiales</h2>
                <p>Contaremos con descuentos, productos y mucho más en temporadas especiales, quédate atento a este apartado para estar al tanto de nuestros eventos especiales.</p>
            </section>
            <!-- Fin Contenido Principal -->
        </main>

        <!-- Barra inferior -->
        <footer class="footer">
            <nav>
                <ul>
                    <li><img src="../Imagenes/LogoSinFondo.png" alt="Logo" width="20"></li>
                    <li>Información sobre la página</li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="https://maps.app.goo.gl/RfThuX5ggXUVrEb1A">Ubicación</a></li>
                    <li><a href="Registro-de-usuario.html">Registro</a></li>
                    <li><a href="mailto:gasgonmatiiica24@gamil.com.cr">Correo de contacto</a></li>
                    <li><a href="tel:85996955">Número de contacto: (+506) 7109 5870</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="Conozcanos.html">Conózcanos</a></li>
                    <li><a href="Política-de-privacidad.html">Políticas de privacidad</a></li>
                    <li><a href="Mapa-de-sitio.html">Mapa de sitio</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>