body {
    background-image: url('../static/Imagenes/LogoConFondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}