.local img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Fondo blanco */
}
/* Estilos para el contenedor principal */
.container {
    text-align: center;
    margin-top: 20px;
}
/* Estilos para los botones */
.btn {
    background-color: #ffa827; /* Botones izquierdo y derecho */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}
/* Estilos para el botón de ver locales asociados */
.bottom-button {
    margin-top: 50px;
}
.btn-associate {
    background-color: #ffeb3c; /* Color para el botón Ver locales asociados */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}