* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos genéricos */
body {
    font-family: Arial, sans-serif;
}
/* Establecer un ancho fijo para todas las imágenes */
img {
    width: 500px; /* Puedes ajustar el valor según tus preferencias */
}

/* Estilos del banner */
.banner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px; /* Ajusta la altura según necesites */
    margin-top: 20px; /* Ajusta según el espacio deseado */
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url('imagen_fondo_banner.jpg'); /* Reemplaza 'imagen_fondo_banner.jpg' con la URL de tu imagen de fondo */
    animation: slideBanner 10s linear infinite; /* Cambia la duración y la velocidad según lo desees */
}

@keyframes slideBanner {
    0% {
        left: -100%; /* Comienza fuera de la pantalla a la izquierda */
    }
    100% {
        left: 100%; /* Termina fuera de la pantalla a la derecha */
    }
}

/* Estilos de los cuadros de producto */
.product {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product h3 {
    text-align: center;
    margin-bottom: 10px;
}

.product p {
    text-align: center;
    margin-top: 0;
}

/* Estilos del menú */
.menu {
    width: 60%;
    margin: 20px auto; /* Centrado horizontal */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu h3 {
    text-align: center;
    width: 100%;
}

.menu-option {
    width: 45%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-option img {
    width: 30%;
    border-radius: 5px;
    margin-right: 10px;
}

.menu-option-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-option-text p {
    margin: 0;
    text-align: center;
}
